# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
build/
dist/

# Compiled Java files
*.class

# Java packaged files
*.jar

# IDE files
.idea/
*.iml

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
